In [1]:
import pandas as pd

In [2]:
alunosDIC = {'Nome' :['Victor', 'Luan', 'Guga','Rever'],
            'Nota': [4, 7, 5.5, 9],
             'Aprovado': ['Não','Sim', 'Não', 'Sim']
            }

## Criando um DataFrame com um Dict

In [7]:
alunosDf = pd.DataFrame(alunosDIC)
alunosDf.head()

     Nome  Nota Aprovado
0  Victor   4.0      Não
1    Luan   7.0      Sim
2    Guga   5.5      Não
3   Rever   9.0      Sim

## Tamanho do Dataframe

In [8]:
alunosDf.shape

(4, 3)

## Describe - Informações numéricos

In [9]:
alunosDf.describe()

           Nota
count  4.000000
mean   6.375000
std    2.136001
min    4.000000
25%    5.125000
50%    6.250000
75%    7.500000
max    9.000000