## Exercício Predição de admissão

dados: https://www.kaggle.com/mohansacharya/graduate-admissions

Testar os algorítimos de :
- Regressão Linear
- Lasso
- Ridge
- ELasticNet

E validar qual deles traz melhores score

In [5]:
import pandas as pd
from sklearn.linear_model import Lasso, Ridge, ElasticNet, LinearRegression
from sklearn.model_selection import train_test_split

In [11]:
dataset_raw = pd.read_csv('./Admission_Predict.csv')

In [12]:
dataset_raw.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [15]:
dataset_raw.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [39]:
dataset_raw.dtypes

Serial No.             int64
GRE Score              int64
TOEFL Score            int64
University Rating      int64
SOP                  float64
LOR                  float64
CGPA                 float64
Research               int64
Chance of Admit      float64
dtype: object

In [41]:
faltantes = dataset_raw.isnull().sum()
faltantes

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [42]:
dataset_raw.drop('Serial No.', axis=1,inplace=True)

In [43]:
y = dataset_raw['Chance of Admit ']
x = dataset_raw.drop('Chance of Admit ', axis=1)

In [55]:
def modelo_regressao(x,y,random_state):
    x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size=0.3, random_state = random_state)
     # LINEAR REGRESSION
    modeloLinear = LinearRegression()
    modeloLinear.fit(x_treino, y_treino)
    resultadoLinear = modeloLinear.score(x_teste, y_teste)

    #RIDGE
    modeloRidge = Ridge()
    modeloRidge.fit(x_treino, y_treino)
    resultadoRidge = modeloRidge.score(x_teste, y_teste)

    # LASSO
    modeloLasso = Lasso()
    modeloLasso.fit(x_treino, y_treino)
    resultadoLasso = modeloLasso.score(x_teste, y_teste)


    # ELASTIC NET
    modeloElastic = ElasticNet()
    modeloElastic.fit(x_treino, y_treino)
    resultadoElastic = modeloElastic.score(x_teste, y_teste)
    print(f'O resultado da função de custo foi:\n\n  - Regressão Linear: {resultadoLinear}\n  - Ridge: {resultadoRidge}\n  - Lasso:{resultadoLasso}\n  - Elastic Net:{resultadoElastic} ')
    
    list_resultados={'Regressão linear':resultadoLinear,
                     'Regressão Ridge': resultadoRidge, 
                     'Regressão Lasso': resultadoLasso, 
                      'ElasticNet': resultadoElastic
                    }
    import operator
    maior_score   = max(list_resultados.items(), key=operator.itemgetter(1))[0]
    return f'{maior_score} : {list_resultados[maior_score]}'

In [56]:
modelo_regressao(x,y,5)

O resultado da função de custo foi:

  - Regressão Linear: 0.7721103482184821
  - Ridge: 0.7744017454631331
  - Lasso:0.33591725263786953
  - Elastic Net:0.6181941825361856

'Regressão Ridge : 0.7744017454631331'